<header>
  <button class="hamburger-btn" (click)="toggleSidebar.emit()" aria-label="Toggle sidebar">
    <i class="pi pi-bars hamburger-icon"></i>
  </button>

  <div class="logo cursor-pointer" (click)="navigateToHome()">
    <h1>DSA Drill</h1>
  </div>

  <div class="flex-1"></div>

  <div class="user-profile" aria-label="User profile">
    <button type="button" class="profile-trigger" (click)="profileMenu.toggle($event)">
      @if (loggedInUser()?.profilePictureUrl) {
        <img
          class="avatar-image"
          [src]="loggedInUser()?.profilePictureUrl"
          [alt]="userFullName()"
        />
      } @else {
        <span class="avatar" [attr.aria-label]="'User initial ' + userInitial">
          {{ userInitial }}
        </span>
      }
    </button>
  </div>
  <p-menu #profileMenu [popup]="true" [model]="menuitems" styleClass="profile-menu"></p-menu>
</header>

<ng-template #sidebarTemplate>
  <app-sidebar></app-sidebar>
</ng-template>
