<mat-sidenav-container class="dsa-shell" [hasBackdrop]="hasContent">
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>

  <mat-sidenav
    class="dsa-pane"
    mode="over"
    [position]="position"
    [opened]="rightPaneService.isOpen"
    (openedChange)="onOpenedChange($event)"
    (closed)="onClosed()"
    [style.width]="width"
    [attr.aria-label]="rightPaneService.title || 'Details panel'"
  >
    @if (hasContent) {
      <div class="dsa-pane-body">
        <ng-container
          *ngTemplateOutlet="rightPaneService.template; context: rightPaneService.context"
        ></ng-container>
      </div>
    }
  </mat-sidenav>
</mat-sidenav-container>
