<div class="modules-wrapper">
  <app-header (toggleSidebar)="toggleSidebar()"></app-header>
  <div class="modules-container">
    @if (showSidebar() && !isMobile()) {
      <app-sidebar [showHeader]="false"></app-sidebar>
    }
    <div class="content">
      @if (isLoaded()) {
        <router-outlet></router-outlet>
      } @else {
        <p-progressbar mode="indeterminate" [style]="{ height: '4px' }" />
      }
    </div>
  </div>
</div>

<ng-template #sidebarTemplate>
  <app-sidebar></app-sidebar>
</ng-template>
